{% extends 'blog/basic.html' %}
{% block title %} This is my About {% endblock %}

{% block css %}
      h1{
    background:yellow;
    color:red;
}
{% endblock %}


{% block body %}
    <div class="container" method="post">{% csrf_token %}
        <form action="/blog/insert">
            Ename:<input type="text" name="ename"><br>
            Eloc:<input type="text" name="eloc"><br>
            Esal:<input type="text" name="esal"> <br>
            <input type="submit" name="sub" value="Submit">
        </form>
    </div>
<h3>{{ result }}</h3>
{% endblock %}

